article img {
    max-width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

article img.wide-image {
    max-width: 100%;
}

.dropdown-menu.show {
    left: inherit;
    right: 0;
}

.toc span.name-only {
    margin-top: 1.2rem;
    margin-bottom: 0;
}

.toc ul {
   padding-bottom: 2rem;
}

li.expanded ul {
    padding-bottom: initial;
}

main.container-xxl {
    padding-top: 1rem;
}

.toc form.filter {
    margin: 0.5rem;
}

.toc form.filter>input {
   font-size: 0.8rem; 
}

.toc > .no-result {
    padding: 1rem;
}

article ol {
    position: relative;
    list-style: none;
    counter-reset: item;
}

article ol > li {
  counter-increment: item;
  margin-bottom: 5px;
}

article ol > li:before {
    margin-right: 10px;
    content: counter(item);
    font-weight: bold;
    font-size: 0.75em;
    background: #000;
    border-radius: 100%;
    position: absolute;
    left: 0;
    color: white;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}