article img {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

article img.wide-image {
    max-width: 100%;
}

.dropdown-menu.show {
    left: inherit;
    right: 0;
}